VMKIS_HTS_ID=soju06
VMKIS_ACCOUNT_NUMBER=00000000-01
VMKIS_APPKEY=PSED321z7A9lBGP6XXXXXXXXXXXXXXXXXXXX
VMKIS_SECRETKEY="RR0sFMVBIH50FwIZGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

VMKIS_PAPER_HTS_ID=soju06
VMKIS_PAPER_ACCOUNT_NUMBER=00000000-01
VMKIS_PAPER_APPKEY=PSED321z7A9lBGP6XXXXXXXXXXXXXXXXXXXX
VMKIS_PAPER_SECRETKEY="RR0sFMVBIH50FwIZGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

VMKIS_KEEP_TOKEN=true
