VMKIS_HTS_ID=soju06
VMKIS_ACCOUNT_NUMBER=00000000-01
VMKIS_APPKEY=PSED321z7A9lBGP6XXXXXXXXXXXXXXXXXXXX
VMKIS_SECRETKEY="RR0sFMVBIH50FwIZGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

VMKIS_VIRTUAL_HTS_ID=soju06
VMKIS_VIRTUAL_ACCOUNT_NUMBER=00000000-01
VMKIS_VIRTUAL_APPKEY=PSED321z7A9lBGP6XXXXXXXXXXXXXXXXXXXX
VMKIS_VIRTUAL_SECRETKEY="RR0sFMVBIH50FwIZGXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

VMKIS_KEEP_TOKEN=true
